ansicon==1.89.0
autopep8==1.6.0
blessed==1.19.1
commonmark==0.9.1
inquirer==2.9.2
jinxed==1.2.0
pycodestyle==2.8.0
Pygments==2.12.0
pymongo==4.1.1
python-dotenv==0.20.0
python-editor==1.0.4
readchar==3.0.5
rich==12.4.1
six==1.16.0
toml==0.10.2
typing-extensions==4.2.0
wcwidth==0.2.5
